<section class="homepage">
    <img class="booksBG" src="https://ptbook.liverpool.ac.uk/imgs/Book_Footer_Web.png" alt="">
    <h1>Welcome to Book Finder!</h1>
    <p *ngIf="!authService.userData">Sign In in order to use features like saving books amoung "your favourites"</p>
    <article>
        <img *ngIf="!authService.userData" (click)="authService.GoogleAuth()"
            src="../../assets/btn_google_signin_dark_focus_web.png" alt="">
        <button *ngIf="authService.userData" (click)="authService.signOut()">logOut</button>
        <div *ngIf="!authService.userData; else elseBlock">
            <a routerLink="search"><button>Enter as guest</button></a>
        </div>
        <ng-template #elseBlock>
            <a routerLink="search"><button>Enter</button></a>
        </ng-template>
    </article>
    <img class="booksBG" src="https://ptbook.liverpool.ac.uk/imgs/Book_Footer_Web.png" alt="">
</section>