.bookCard {
    height: 300px;
    width: 250px;
    text-align: center;

    button {
        border: 0;
        background-color: transparent;
    }

    img {
        height: 150px;
        width: 100px;
    }
}